html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.font-med {
  font-size: 4em;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

#landing {
  background-color: black;
}

.container::after {
  text-align: center;
  background-color: black;
  width: 100%;
  height: 100%;
  background-image: url('../img/collaboration.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  padding: 0;
}

  .popup {
    position: absolute;
    z-index: 2;
  }

  #controls {
    color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

    #header {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;

      margin-bottom: 10px;
    }

      #header p {
        font-size: 5vw;
      }

      #header h1 {
        font-size: 10vw;
      }

    #items {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

      .item-steps {
        border: 3px solid white;
        border-radius: 8%;
        background-color: rgb(0,0,0,0.6);
        text-align: center;
        width: 20em;
        height: 7em;
        margin: 10px;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        font-size: 1.1em;
      }

      .item-emphasis {
        font-size: 1.5em;
        font-weight: bold;
      }

    #upload-form {
      margin-top: 10px;

      display: flex;
      text-align: center;
      justify-content: center;
      align-items: flex-start;
    }

    #formz {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    #upload-button {
      font-size: 30px;
      background-color: rgb(0,0,0,0.6);
      border: 1px solid white;
      border-radius: 8%;
    }

.below-the-fold {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 1vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
  #below-fold-1 {
    background-color: lavender;
  }

  #below-fold-2 {
    background-color: green;
  }

  #below-fold-3 {
    background-color: pink;
  }

  #header-below-fold {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;

    margin-bottom: 10px;
  }

    #header-below-fold p {
      font-size: 4vw;
    }

    #header-below-fold h1 {
      font-size: 10vw;
    }
