{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container" style="margin-top: 5%; text-align: center">
    <img src="{{ url_for('static', filename = 'img/How-to-Measure-the-Success-of-Your-Online-Marketing-Campaigns.png') }}" height="250" align="middle">
    <h1>Measurements</h1>
    <br>

    <ol style="list-style-position:inside;">
        <li>Upload your data!</li>
        <li>Wait for us to finish processing!</li>
        <li>Get your results!</li>
    </ol>

    <br>

    <form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
    <div class="input-group">
        <!--<label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector" style="background-color:white">-->
            <!--<input id="my-file-selector" type="file" style="display:none;">-->
            <!--Browse...-->
        <!--</label>-->
        <input type="file" name="file" class="form-control" readonly="">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
    </form>

</div>

{% endblock %}

