{% extends "bootstrap/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
<div class="container">

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}

    <!-- <img src="{{ url_for('static', filename = 'img/How-to-Measure-the-Success-of-Your-Online-Marketing-Campaigns.png') }}" height="250" align="middle"> -->

		<div id="controls">
	    <h1>Measurements</h1>
	    <br>

			<div id="items">
		    <ol style="list-style-position:inside;">
		        <li>Upload your data!</li>
		        <li>Wait for us to finish processing!</li>
		        <li>Get your results!</li>
		    </ol>
			</div>

			<form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
	    <div class="input-group">
	        <!--<label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector" style="background-color:white">-->
	            <!--<input id="my-file-selector" type="file" style="display:none;">-->
	            <!--Browse...-->
	        <!--</label>-->
	        <input type="file" name="file" class="form-control" readonly="">
	    </div> <br> <br>
	    <button type="submit" class="btn btn-primary">Upload</button>
	    </form>
		</div>
    <br>

</div>
<div class="below-the-fold">
	Meet the people behind the product.
	<br><br><br><br>
	Hi
	<br><br><br><br>
	Nihao
</div>
{% endblock %}
